/*
The container element is given this class on IV.Element creation, although it's a good idea to add this class to the container directly in the markup. 
It's positioned relatively so that the video and content positioning can be positioned relative to it.
*/
.integrated-video-container {
    position: relative;
    cursor: pointer;
}

/*
This class is added to the video/iframe. It is strongly advised that you include this class on the iframe directly in your markup. 
This class is positioned absolutely (relative to the container). To hide it the opacity property is set to 0 as well as the height and width properties. 
Do not set it to display:none because this prevents firefox from initializing the froogaloop object. It's not set to display hidden because webkit browsers have some issues with iframes set to visibilty:hidden
*/
.integrated-video-container .integrated-video {
    /* opacity: 0; */
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

/*
This class is not currently being used for any specific purpose.
*/
.integrated-video-container .integrated-video-content {
    position: relative;
     z-index: 9997 !important;
}

/*
When an IV.Element instance is created, an empty span element with a class of integrated-video-play-btn is append to the container and positioned in it's center.
Centering is based on the height and width propertiers of .integrated-video-play-btn and the calculated height and width of the container. 
The button image is set as a background property. By default it is only added when the container is hovered over.
*/
.integrated-video-container .integrated-video-play-btn {
    position: absolute;
    z-index: 9999 !important;
    /* Centering is based on these values in the js files */
    width: 270px;
    height: 264px;
}

.integrated-video-container:hover .integrated-video-play-btn, .integrated-video-mobile .integrated-video-play-btn {
    background-image: url(../images/iv_play_hover_white.5.png);
	background-size: 240px 240px;
	opacity:1!important;
    background-repeat: no-repeat;
}

.integrated-video-highlight .integrated-video-play-btn {
    background-image: url(../images/iv_play_white.5.png);
	background-size: 240px 240px;
    background-repeat: no-repeat;
}


.integrated-video-active:hover .integrated-video-play-btn, .integrated-video-active .integrated-video-play-btn{
    background-image: none;
}

/* hide default video js play button */
.vjs-big-play-button {
    display: none !important;
}

.vjs-loading-spinner {
    display: none !important;
}

.integrated-video-inactive-controls .vjs-controls {
      display: none;
}

.integrated-video-active .integrated-video {
    z-index: 9996 !important;
}
